<component>
          <!-- Allergies: patient has no allergies -->
            <section>
             <templateId root="2.16.840.1.113883.3.88.11.83.102" assigningAuthorityName="HITSP/C83"/>
             <templateId root="1.3.6.1.4.1.19376.1.5.3.1.3.13" assigningAuthorityName="IHE PCC"/>
             <templateId root="2.16.840.1.113883.10.20.1.2" assigningAuthorityName="HL7 CCD"/>
              <code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Problem List"/>
              <title>Allergies and Adverse Reactions</title>                
               <text>
                <table border="1" width="100%">
                  <thead>
                    <tr>
                      <th>Description</th>                      
                      <th>Code</th>                      
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ID="noallergies_summary">                                           
                      <td ID="noallergies">No Known allergies</td>
                      <td>160244002</td>                                         
                      <td><%= Time.now.utc.to_formatted_s(:long) %></td>
                    </tr>                   
                 </tbody>
               </table>                             
             </text>
             <entry typeCode="DRIV">
              <act classCode="ACT" moodCode="EVN">
                <templateId root="2.16.840.1.113883.10.20.1.27"/>
                <templateId root="2.16.840.1.113883.3.88.11.83.6"/>
                <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1"/>
                <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.3"/>
                <id root="f6fd6f86-4265-4dcb-95cf-7799100b54ad"/>
                <code nullFlavor="NA"/>
                  <statusCode code="active"/>
                    <effectiveTime>
                      <low nullFlavor="NA"/>
                    </effectiveTime>					
                <entryRelationship typeCode="SUBJ" inversionInd="false">
                  <observation classCode="OBS" moodCode="EVN">
                    <templateId root="2.16.840.1.113883.10.20.1.18"/>
                    <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.6"/>
                    <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5"/>
                    <templateId root="2.16.840.1.113883.10.20.1.28"/>
                    <id root="2b37be6b-9b1c-4069-bbca-1caf5fe1937d"/>
                    <code code="420134006" codeSystem="2.16.840.1.113883.6.96" displayName="Propensity to adverse reactions (disorder)" codeSystemName="SNOMED CT"/>
                    <statusCode code="completed"/>
                    <effectiveTime>
                      <low nullFlavor="UNK"/>
                    </effectiveTime>
                    <value xsi:type="CD" code="160244002" codeSystem="2.16.840.1.113883.6.96" displayName="No Known allergies" codeSystemName="SNOMED CT">
                      <originalText>
                        <reference value="#noallergies"/>
                      </originalText>
                    </value>
                  </observation>
              </entryRelationship>
            </act>
          </entry>
        </section>
      </component>
