      <component>
        <section>
          <!-- This is the templateId for Patient Data section -->
          <templateId root="2.16.840.1.113883.10.20.17.2.4"/>
          <!-- This is the templateId for Patient Data QDM section -->
          <templateId root="2.16.840.1.113883.10.20.24.2.1"/>
          <code code="55188-7" codeSystem="2.16.840.1.113883.6.1"/>
          <title>Patient Data</title>
          <text>

          </text>
          <%== render_patient_data(patient, measures) %>
          <% patient.insurance_providers.each do |entry| %>
              <%== render(:partial => '2.16.840.1.113883.10.20.24.3.55', :locals => {:entry => entry}) %>
          <% end %>
        </section>
      </component>