<name>
  <% if person.title %>
  <title><% person.title %></title>
  <% end %>
  <% if person.given_name %>
  <givenName><%= person.given_name%></givenName>
  <% end %>
  <% if person.family_name %>
  <familyName><%= person.family_name%></familyName>
  <% end %>
</name>