<component>
  <!-- Conditions: patient has no conditions -->
  <section>
    <templateId root="2.16.840.1.113883.10.20.22.2.5"/>
    <code code="11450-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Problem List"/>
    <title>Problems</title>
    <text>There are no current problem concern acts at the time of this document's creation.</text>
    <entry typeCode="DRIV">
      <act classCode="ACT" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.3"/>
        <id root="<%= UUID.generate %>"/>
        <code nullFlavor="NA"/>
        <statusCode code="active"/>
        <effectiveTime>
          <low nullFlavor="NA"/>
        </effectiveTime>					
        <entryRelationship typeCode="SUBJ" inversionInd="false">
          <observation classCode="OBS" moodCode="EVN" negationInd="true">
            <templateId root="2.16.840.1.113883.10.20.22.4.4"/>
            <id root="<%= UUID.generate %>"/>
            <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"/>
             <statusCode code="completed"/>
            <effectiveTime>
              <low nullFlavor="UNK"/>
            </effectiveTime>
           
          </observation>
        </entryRelationship>
      </act>
    </entry>
  </section>
</component>