<component>
  <!-- Medications: patient has no medications -->
  <section>
		<templateId root="2.16.840.1.113883.10.20.22.2.1" />
    <code code="10160-0" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of medication use"/>
    <title>Medications</title>
    <text>There are no current medications at the time of this document's creation.</text>
    <entry>
      <substanceAdministration moodCode="EVN" classCode="SBADM" negationInd="true">
        <text>No known medications.</text>
        <consumable>
          <manufacturedProduct>
            <manufacturedLabeledDrug>
              <code code="410942007" displayName="drug or medication"
                    codeSystem="2.16.840.1.113883.6.96"
                    codeSystemName="SNOMED CT"/>
            </manufacturedLabeledDrug>
          </manufacturedProduct>
        </consumable>
      </substanceAdministration>
    </entry>
  </section>
</component>