<component>
  <!-- Procedures: patient has no procedures -->
  <section>
    <templateId root="2.16.840.1.113883.10.20.22.2.7"/>
    <code code="47519-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Procedures"/>
    <title>Procedures</title>
    <text>There are no current procedures at the time of this document's creation.</text>
    <entry typeCode="DRIV">
      <procedure classCode="PROC" moodCode="EVN" negationInd="true">
        <templateId root="2.16.840.1.113883.10.20.22.4.14"/>
        <id root="<%= UUID.generate %>"/>
          <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"/>
          <statusCode code="completed"/>
          <effectiveTime>
            <low nullFlavor="UNK"/>
          </effectiveTime>
          
      </procedure>
    </entry>
  </section>
</component>